Repository jOOQ/jOOQ, pull requests merged in 2022-02, with the labels that each got.

#12993 [jOOQ/jOOQ#12992] Automatically enable table generation if indexes are enabled
  jOOQ-codegen/src/main/java/org/jooq/codegen/AbstractGenerator.java
  jOOQ-codegen/src/main/java/org/jooq/codegen/JavaGenerator.java
Labels: T: Defect, C: Code Generation, P: Low, R: Fixed, E: All Editions

#12990 Fix typo in javadoc
  jOOQ/src/main/java/org/jooq/Internal.java
Labels: T: Defect, C: Documentation, P: Low, R: Fixed, E: All Editions

#13012 [jOOQ/jOOQ#12992] Add contributor
  jOOQ/src/main/resources/META-INF/ABOUT.txt
Labels: T: Task, C: Documentation, P: Low, R: Fixed, E: All Editions

#13010 [#13008] Unquote keyword when mapping one to many relation
  jOOQ-codegen/src/main/java/org/jooq/codegen/JavaGenerator.java
  jOOQ/src/main/resources/META-INF/ABOUT.txt
Labels: T: Defect, C: Code Generation, P: Medium, R: Fixed, C: Integration: Kotlin, E: All Editions
